<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Dashboard</a>
  <h2 class="title">Create New Blog Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Post Title"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Post Content"/>
    </div>
    <button type="submit" class="button is-pulled-right" style="background-color: royalblue; color: white;">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>